body{
    margin: 0;
    background-color: #F5F5F5;
    color: #333;
}

header{
    background-color: #EF5350;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ball{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(#e53935 50%, white 50%);
    border: 2px solid black;
    position: relative;
}

.ball::after{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:8px;
    height:8px;
    background:white;
    border:2px solid black;
    border-radius:50%;
}

.button{
    padding: 10px;
    border-radius: 8px;
    background-color: #3b4cca;
    color: white;
}

.card{
    background-color: white;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}